---
import { Image } from "astro:assets";
import Layout from "@layouts/default.astro";
import Links from "@components/links.astro";
import Footer from "@components/footer.astro";
import EmailMe from "@components/email-me.astro";
---

<Layout title="Kalwabed Rizki | Software engineer">
  <main class="container">
    <div class="identity">
      <section class="name-title">
        <h1 class="name">Kalwabed Rizki</h1>
        <p>Software engineer, web</p>
      </section>
      <Image
        src="https://github.com/kalwabed.png"
        alt="A man with a smiling face"
        class="my-pic"
        width="280"
        height="280"
      />
    </div>
    <Links />
    <EmailMe />
  </main>
  <Footer />
</Layout>

<style>
  .container {
    max-width: 1024px;
    width: 100%;
    margin: 0;
    padding-top: 2rem;
  }

  .name {
    font-size: 2.5rem;
    font-weight: bold;
  }

  .name-title {
    text-align: center;
  }

  .identity {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .my-pic {
    border-radius: 999px;
    width: 80px;
    height: 80px;
  }

  @media (min-width: 768px) {
    .container {
      margin: 0 auto;
    }

    .name-title {
      text-align: start;
    }

    .identity {
      flex-direction: row;
    }

    .my-pic {
      width: 50px;
      height: 50px;
    }
  }
</style>
