<div class="wrapper">
	<p>
		Hi there! If you have any interest in collaborative projects or just saying
		hello or whatever, feel free to contact me via email at <a
			href="mailto:kalwabedrzk@proton.me"
			title="Email me">kalwabedrzk@proton.me</a
		>. See you.
	</p>
</div>

<style>
	.wrapper {
		padding: 0 1rem;
		margin: 1rem 0;
		text-align: center;
	}

	a {
		color: #f9bc60;
		font-weight: 600;
	}

	a:hover {
		text-decoration: underline;
	}

	@media (min-width: 768px) {
		.wrapper {
			padding: 0;
			margin: 1rem 0 0;
			max-width: 700px;
			text-align: start;
		}
	}
</style>
