---
import "@fontsource/overpass/latin-400.css";
import "@fontsource/overpass/latin-600.css";
import "@fontsource/overpass/latin-700.css";
import "@styles/tailwind-reset.css";
import { Image } from "astro:assets";
import EmailMe from "@components/email-me.astro";
import Footer from "@components/footer.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Kalwabed Rizki's curated links" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:title" content="Kalwabed Rizki | Software engineer" />
    <meta property="og:site_name" content="Kalwabed Rizki's curated links" />
    <meta property="og:url" content="https://links.kalwabed.com" />
    <meta property="og:description" content="Kalwabed Rizki's socials" />
    <meta property="og:type" content="profile" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="apple-mobile-web-app-title" content="Kalwabed's links" />
    <meta name="application-name" content="Kalwabed's links" />
    <meta name="msapplication-TileColor" content="#2b5797" />
    <meta name="theme-color" content="#ffffff" />
    <title>{title}</title>
  </head>
  <body>
    <div id="root">
      <main class="container">
        <div class="identity">
          <section class="name-title">
            <h1 class="name">Kalwabed Rizki</h1>
            <p>Software engineer, web</p>
          </section>
          <Image
            src="https://github.com/kalwabed.png"
            alt="A man with a smiling face"
            class="my-pic"
            width="280"
            height="280"
          />
        </div>
        <slot />
        <EmailMe />
      </main>
      <Footer />
    </div>
  </body>
</html>
<style is:global>
  :root {
    --main-bg: #004643;
    --heading-sense: #fffffe;
    --text-sense: #abd1c6;
  }

  html,
  body,
  #root {
    height: 100%;
  }

  #root {
    color: var(--text-sense);
    display: flex;
    flex-direction: column;
  }

  body {
    background-color: var(--main-bg);
    font-family: "Overpass", sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    color: var(--heading-sense);
  }
</style>

<style>
  .container {
    max-width: 1024px;
    width: 100%;
    margin: 0;
    padding-top: 2rem;
  }

  .name {
    font-size: 2.5rem;
    font-weight: bold;
  }

  .name-title {
    text-align: center;
  }

  .identity {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .my-pic {
    border-radius: 999px;
    width: 80px;
    height: 80px;
  }

  @media (min-width: 768px) {
    .container {
      margin: 0 auto;
    }

    .name-title {
      text-align: start;
    }

    .identity {
      flex-direction: row;
    }

    .my-pic {
      width: 50px;
      height: 50px;
    }
  }
</style>
