---
import "@fontsource/overpass/latin-400.css";
import "@fontsource/overpass/latin-600.css";
import "@fontsource/overpass/latin-700.css";
import "@styles/tailwind-reset.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div id="root">
      <slot />
    </div>
  </body>
</html>
<style is:global>
  :root {
    --main-bg: #004643;
    --heading-sense: #fffffe;
    --text-sense: #abd1c6;
  }

  html,
  body,
  #root {
    height: 100%;
  }

  #root {
    color: var(--text-sense);
    display: flex;
    flex-direction: column;
  }

  body {
    background-color: var(--main-bg);
    font-family: "Overpass", sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    color: var(--heading-sense);
  }
</style>
